/* Your CSS Code here. */
.container{
	display:flex;
	justify-content:space-between;
	flex-wrap:wrap;
	gap:10px;
}
.item{
	width:100px;
	height:100px;
}
.green{
	background-color:green;
}
.red{
	background-color:red;
}
.blue{
	background-color:blue;
}